.column {
    float: left;
    width:33.3%;
    height: 80px;
    background-color: black;
}

.home-phone-details {
    text-align: center;
    color: white;
}

.mobile-phone-details {
    text-align: center;
    color: white;
}

.email-details {
    text-align: center;
    color: white;
}

.logo-holder {
    height: 240px;
    width: 100%;
    background-color: black;
}

.logo {
    background: url("DanDSRenovations/assets/images/logo.png");
    height: 100px;
    width: 100%;
}
